body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
span.field-validation-error {
  color: #d62929;
  font-size: 15px;
}
.voffset {
  margin-top: 10px;
}
.voffset1 {
  margin-top: 20px;
}
.voffset2 {
  margin-top: 30px;
}
.voffset3 {
  margin-top: 40px;
}
.voffset4 {
  margin-top: 50px;
}
.voffset-1 {
  margin-top: -30px;
}
/* Bootstrap Overrides */
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.navbar-inverse {
  background-color: #e7717d;
  border-color: #e7717d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
  padding-right: 10px;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  margin-left: 5px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(197, 91, 91, 0.49);
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
  font-weight: 700;
}
body {
  font-size: 16px;
}
h2 {
  margin-bottom: 30px;
  color: #464748;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
}
.form-control-focus {
  border-color: #2196f3;
}
.btn-primary {
  font-size: 16px;
  padding: 7px 20px;
  background-color: #895061;
  border-color: #895061;
}
.btn-primary:hover {
  background-color: #a15e72;
  border-color: #a15e72;
}
/* Page-level styles */
.events {
  list-style: none;
}
.left-container {
  width: 50%;
  height: 100%;
  float: left;
}
.right-container {
  width: 50%;
  height: 100%;
  float: right;
  display: inline-block;
}
.dates {
  width: 310px;
  height: 240px;
  position: relative;
}
.s-dates {
  height: 210px;
}
.xs-dates {
  height: 180px;
}
.start-date {
  float: left;
  width: 100px;
  text-align: center;
  position: relative;
}
.start-date > span {
  font-size: 12px;
  font-weight: 700;
  color: #50e3c2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.start-date-card {
  background: #50e3c2;
  margin-top: 15px;
  height: 8px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0 3px 3px 0 #d3d3d3;
  box-shadow: 0 3px 3px 0 #d3d3d3;
}
.end-date {
  float: right;
  width: 100px;
  text-align: center;
}
.end-date > span {
  font-size: 12px;
  font-weight: 700;
  color: #fa6679;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.end-date-card {
  background: #fa6679;
  margin-top: 15px;
  height: 8px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0 3px 3px 0 #d3d3d3;
  box-shadow: 0 3px 3px 0 #d3d3d3;
}
.month-year {
  color: #727377;
  background: #f7f7f7;
  padding: 0 6px 10px 6px;
  -ms-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 3px 3px 0 #d3d3d3;
  box-shadow: 0 3px 3px 0 #d3d3d3;
}
.day {
  font-size: 30px;
  font-weight: 700;
  padding: 6px;
  color: #727377;
  background: #f7f7f7;
  -webkit-box-shadow: 0 3px 3px #d3d3d3;
  box-shadow: 0 3px 3px 0 #d3d3d3;
}
.interval {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  position: relative;
}
.interval > .bar {
  width: 108px;
  height: 85px;
  background-image: linear-gradient(-225deg, #effdf9 0%, #fbeff9 100%);
  position: absolute;
  top: 28px;
  left: 1px;
}
.previous-cycle {
  color: #464748;
  font-size: 15px;
  position: absolute;
  top: 170px;
}
.ovulation-date {
  float: left;
  width: 100px;
  text-align: center;
}
.ovulation-date > span {
  font-size: 12px;
  font-weight: 700;
  color: #fbd786;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ovulation-date-card {
  background: #fbd786;
  margin-top: 15px;
  height: 8px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0 3px 3px 0 #d3d3d3;
  box-shadow: 0 3px 3px 0 #d3d3d3;
}
.ovulation-interval {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  position: absolute;
}
.ovulation-interval > #timeTitle {
  text-align: center;
  padding: 4px;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 14px;
  color: #727377;
}
.ovulation-interval > #time {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  color: #727377;
}
.actions {
  color: #464748;
  font-size: 15px;
  position: absolute;
  top: 150px;
}
.action > a {
  font-size: 15px;
  visibility: hidden;
}
.action > span {
  visibility: hidden;
}
.action:hover a {
  visibility: visible;
}
.action:hover span {
  visibility: visible;
}
.current-status {
  width: 430px;
  height: 405px;
  color: #464748;
  background: #f8f8f8;
  text-align: center;
  font-size: 17px;
  margin-top: 100px;
}
.days {
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
  color: #727377;
  background: #f8f8f8;
}
.line-shadow {
  width: 430px;
  height: 2px;
  background: #eeeeee;
}